.myBtn {
	padding: 5px 15px;
	color: teal;
	font-size: 14px;
	background: transparent;
	border: 1px solid teal;
	cursor: pointer;
	transition: color 0.3s ease;
	text-transform: uppercase;
}

.myBtn:hover {
	background-color: teal;
	color: white;
}
